body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
.note {
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: inline-block;
}
.container form {
    margin-bottom: 1em;
}
