{% extends 'base.html' %}
{% block content %}
<h1>Your Notes</h1>
<form method="get" action="{{ url_for('index') }}">
    <input type="text" name="search" id="search" placeholder="Search" value="{{ search }}">
    <input type="submit" value="Filter">
</form>
<form method="post" action="{{ url_for('add_note') }}">
    {{ form.hidden_tag() }}
    {{ form.content.label }}<br>
    {{ form.content(cols=40, rows=4) }}<br>
    {{ form.color(type='color') }}
    {{ form.submit() }}
</form>
<div id="notes">
  {% for note in notes %}
    <div class="note" style="background: {{ note.color }}">
        <div class="content">{{ note.content|safe }}</div>
        <a href="{{ url_for('delete_note', note_id=note.id) }}">Delete</a>
    </div>
  {% else %}
    <p>No notes yet.</p>
  {% endfor %}
</div>
{% endblock %}
